// CHECK ICON ROTATION
@keyframes rotate {
    0% {
        transform: rotate(-270deg)
    }

    100% {
        transform: rotate(0);
    }
}


// SLIDE UP AND FADE IN CARD
@keyframes SlideUp-FadeIn {
    0% {
        opacity: 0%;
        transform: translateY(250px);
    }

    50% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

// FADE OUT LOADER ANIMATION

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.8) translateY(15px);
    }
}