@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}