@mixin flex ($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin header-shadow {
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

@mixin component-shadow ($box-shadow: 4px 4px 10px rgb(0 0 0 / 25%)) {
    box-shadow: $box-shadow;
}

@mixin padding ($padding: 2.5rem 1.5rem) {
    padding: $padding;
}

@mixin laptop-padding {
    padding: 2.5rem 3rem;
}

@mixin btn ($width: 14rem) {
    width: $width;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    color: white;
    @include gradient;
    font-weight: 500;
    font-size: 1rem;
    @include component-shadow;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
        filter: brightness(1.1);
        @include component-shadow (4px 4px 10px rgb(0 0 0 / 50%));
    }
}

@mixin gradient {
    background-image: linear-gradient(357deg, ($primary-color) 0%, ($secondary-color) 100%);
}

@mixin dots ($bg-color-animation: $primary-color, $animation: 2s ease-in-out 0s infinite dots) {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.3rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $bg-color-animation;
    animation: $animation;
}


// MIXIN RESTAURANT CARDS AND ROTATION ANIMATION
@mixin card {
    background-color: white;
    @include component-shadow;
    display: flex;
    flex-direction: row;
    border-radius: 0.9rem;
    overflow: hidden;
    max-height: 4.3rem;
    width: 100%;


    &:hover {
        .submenu__animation {
            margin-right: 0rem;

            .submenu__check {
                animation: checkrotation 1s;
            }
        }
    }

}

// MIXIN CROP TEXT DOTS
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// MIXIN RESPONSIVE
@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width:map-get($breakpoints, laptop)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)) {
        @content;
    }
}


@mixin appear-animation {
    animation-name: SlideUp-FadeIn;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-play-state: running;
    opacity: 0;
}