// HEADER
.header {
    @include flex;
    padding: 1rem 1.5rem;
    @include header-shadow;
    position: relative;
    z-index: 1;

    .header__arrow--link {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        color: #515151;
        font-size: 1.2rem;
    }
}