.header {
    @include flex(column, center, center);

    &__logo {
        @include flex(row, center, center);
        @include header-shadow;
        width: 100%;
        position: relative;
        padding: 1.25rem;

        .header__icon {
            position: absolute;
            top: 1.8rem;
            left: 1.25rem;
            font-size: 1.2rem;
        }
    }

    .location {
        @include flex;
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: $bg-color;
        gap: 1rem;

        &__icon {
            color: #353535;
        }

        &__input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 8rem;
        }

        ::placeholder {
            font-weight: 600;
            color: #4B4B4B;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
        }
    }
}