.menu__main {
    padding: 1.5rem 1rem;
    background-color: $bg-color-light;
    position: relative;
    margin-top: -3rem;
    border-radius: 2rem 2rem 0 0;

    .menu__main-title {
        @include flex (row, space-between, center);
        font-family: 'Shrikhand', cursive;
        padding: 1.5rem 0;

        @include laptop {
            @include flex (row, center, center);
        }
    }

    .menu__all {
        gap: 1.5rem;

        @include laptop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 1.5rem;
        }
    }

    .menu__category {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 2rem;

        @include laptop {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 1.5rem;
        }

        .menu__category--title {
            position: relative;
            text-transform: uppercase;
            font-weight: 400;
            margin: 1.5rem 0;

            &::after {
                content: "";
                position: absolute;
                height: 0.2rem;
                width: 15%;
                background-color: $tertiary-color;
                bottom: -15px;
                left: 0;
                right: 0;
            }
        }

        .delay-0 {
            animation-delay: calc(0s/5);
        }

        .delay-1 {
            animation-delay: calc(1s/5);
        }

        .delay-2 {
            animation-delay: calc(2s/5);
        }

        .delay-3 {
            animation-delay: calc(3s/5);
        }

        .menu__card {
            background-color: white;
            border-radius: 1rem;
            display: flex;
            overflow: hidden;
            position: relative;
            @include component-shadow;
            @include appear-animation;


            &:hover {

                .menu__item--left {
                    width: 70%
                }

                .menu__item--right {
                    transform: translateX(0%);

                    .checkbox__icon {
                        animation: rotate 1s;
                    }
                }
            }


            .menu__item--left {
                padding: 0.8rem;
                width: 90%;
                transition: width 0.5s ease-in-out;

                .menu__description--title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .menu__description--subtitle {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            .menu__item--right {
                display: flex;
                position: absolute;
                right: 0;
                height: 100%;
                width: auto;
                transform: translateX(56.3%);
                transition: transform 0.5s ease-in-out;

                .menu__description--price {
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                    padding: 0.8rem;
                }

                .menu__description--checkbox {
                    width: 3.5rem;
                    background-color: $tertiary-color;
                    @include flex (row, center, center);
                    // transform: translateX(0%);
                    // transition: transform 0.5s ease-in-out;

                    .checkbox__icon {
                        font-size: 1.5rem;
                        color: white;

                    }
                }
            }
        }
    }
}