.hero__btn {
    @include btn;
}

.menu__btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 5rem;

    @include laptop {
        align-items: center;
        padding-bottom: 3rem;
    }

    .order {
        @include btn (10rem);
    }
}